<div id="container" class="container">
    <h2>Библиотека</h2>

    <!-- Жанры -->
    <div class="libraryGenreList">
        <h4 class="libraryGenreTitle">Жанры</h4>
        <div ng-click="selectGenre(genre.id)" class="libraryGenre" ng-repeat="genre in vm.genres  | orderBy:'name' ">
            {{genre.name}}
        </div>
    </div>

    <!-- Рекомендации -->
    <div class="libraryRecommendation">
        <div><h3>Рекомендации</h3></div>

        <div class="recommendationBooks">
            <div class="rBook" ng-repeat="book in vm.recommendedBooks track by book.id">
                <div class="libBookCover"><img data-ng-src="/api/books/downloadCover/{{book.id}}" width="100%" height="100%" style="border-radius: 5px"></div>
                <div class="libRecommendBookInfo">
                    <div class="bookReadedH">
                        <div class="bookReaded" ng-if="isRead(book.id)">Прочитано</div>
                    </div>
                    <div class="bookTitle">{{book.title}}</div>
                    <div class="bookAuthor">{{book.authorFirstName}} {{book.authorLastName}}</div>
                    <div class="bookRButtons" >
                        <a ui-sref="book-detail({id:book.id})"><button class="btnLibReadBook2">Читать</button></a>
                        <button has-authority="ROLE_USER"  ng-class="{false:'btnLibFavoriteBook', true:'btnLibFavoriteBookChecked ' } [isFavorite(book.id) ] " ng-click="getFavorite(book.id)"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- все Книги -->
    <div class="libraryBooks">
        <div class="homeRow">
            <div class="homeCol col-md-12">

                <!-- Заголовок / сортировка -->
                <div class="myLibBooksTitle2">
                    <div class="homeCol col-md-9 col-sm-12">
                        <div class="myLibBooksTitle">
                            <h3>Книги</h3>
                        </div>
                    </div>
                    <div class="homeCol col-md-3 col-sm-12">
                        <select type="myBookLibSort" ng-options="opt.name for opt in options.data track by opt.name"
                        ng-model="options.selected" ng-change="reloadAll()"></select>
                    </div>
                </div>

                <div class="libraryAllBooks" infinite-scroll-disabled="vm.busy || vm.page > vm.maxPage"
                     infinite-scroll="vm.loadAll()">
                    <div class="col-md-3 col-sm-6" ng-repeat="book in vm.books track by book.id" >
                        <div class="libBook">
                            <div class="libBookCover"><img data-ng-src="/api/books/downloadCover/{{book.id}}"  width="100%" height="100%" style="border-radius:5px"></div>
                            <div class="libBookInfo">
                                <div class="bookReadedH">&nbsp;
                                    <div class="bookReaded2" ng-if="isRead(book.id)">Прочитано</div>
                                </div>
                                <div class="bookTitle">{{book.title}}</div>
                                <div class="bookAuthor">{{book.authorFirstName}} {{book.authorLastName}}</div>
                                <div class="bookAuthor" ui-sref="profile-detail({id:book.profileId})"><a>{{book.createdBy}}</a></div>
                                <div class="bookButtons">
                                    <a ui-sref="book-detail({id:book.id})"><button class="btnLibReadBook2">Читать</button></a>
                                    <button has-authority="ROLE_USER" ng-class="{false:'btnLibFavoriteBook', true:'btnLibFavoriteBookChecked ' } [isFavorite(book.id)]" ng-click="getFavorite(book.id)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
