<p>
    <button type="button" class="btn btn-primary" ng-click="firstPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.firstPage">First page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="prevPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.prevPage">Previous page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="zoomOut()" ng-show="isReading">
        <span class="hidden-sm-down">-</span>
    </button>

    <span class="hidden-sm-down" ng-show="isReading">
        Страница <input id="page_top" type="text" style="width: 5%; display: inline; text-align: center"
                        ng-keypress="changePage($event)">
        <span id="pages_top"> / </span>
    </span>

    <button type="button" class="btn btn-primary" ng-click="zoomIn()" ng-show="isReading">
        <span class="hidden-sm-down">+</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="nextPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.nextPage">Next page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="lastPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.lastPage">Last page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="isReading = false" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.back">Back</span>
    </button>
</p>

<canvas id="book-canvas" ng-show="isReading"></canvas>

<p>
    <button type="button" class="btn btn-primary" ng-click="firstPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.firstPage">First page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="prevPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.prevPage">Previous page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="zoomOut()" ng-show="isReading">
        <span class="hidden-sm-down">-</span>
    </button>

    <span class="hidden-sm-down" ng-show="isReading">
        Страница <input id="page_bot" type="text" style="width: 5%; display: inline; text-align: center"
                        ng-model="vm.pdfBook.pageNum">
        <span id="pages_bot"> / {{vm.pdfBook.pdfDoc.numPages}}</span>
    </span>

    <button type="button" class="btn btn-primary" ng-click="zoomIn()" ng-show="isReading">
        <span class="hidden-sm-down">+</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="nextPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.nextPage">Next page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="lastPage()" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.lastPage">Last page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="isReading = false" ng-show="isReading">
        <span class="hidden-sm-down" data-translate="entity.action.back">Back</span>
    </button>
</p>
<div class="container" ng-hide="isReading">
    <div>
        <!-- Обложка книги -->
        <div class="bookDetailCover">
            <div class="bookCover">
                <img ng-src="{{vm.book.coverPath}}" width="100%" height="100%">
            </div>

            <button type="button" class="btn btn-primary" ng-click="download()" has-authority="ROLE_USER">
                <span class="hidden-sm-down" data-translate="entity.action.download">Download</span>
            </button>

            <button type="button" class="btn btn-primary" ng-click="read()" ng-show="vm.book.path.endsWith('.pdf')">
                <span class="hidden-sm-down" data-translate="entity.action.read">Read</span>
            </button>

        </div>

        <!-- Название и автор книги -->
        <div class="bookDetailName">
            <button type="button" ui-sref="book.delete({id:vm.book.id})" class="btn btn-danger" style="float:right"
                    has-authority="ROLE_ADMIN">
                <span class="glyphicon glyphicon-trash"></span>
                <span class="hidden-sm-down">Удалить книгу</span>
            </button>

            <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info" style="float:right">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span>Назад</span>
            </button>

            <div class="bookDetailNameText">
                <b>{{vm.book.title}}</b>
            </div>

            <div class="bookDetailInfoText">
                {{vm.book.authorFirstName}} {{vm.book.authorLastName}}
            </div>
        </div>

        <!-- Жанр и прочее о книге -->
        <div class="bookDetailName2">
            <div class="bookDetailInfo">
                <div class="bookDetailInfoText">
                    <span>
                        <b>Жанр:</b>
                        {{vm.book.genreName}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Год издания:</b>
                        {{vm.book.yearOfPublishing}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Страниц:</b>
                        {{vm.book.pages}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Предложил:</b>
                        <span ui-sref="profile-detail({id:vm.book.profileId})"><a>{{vm.book.createdBy}}</a></span>
                    </span>
                </div>
            </div>

            <!-- Описание -->
            <div class="bookDetailDescription">
                <div class="bookDetailInfoText">
                    <span><b>Описание</b></span>
                </div>
                <div class="bookDetailDescriptionText">
                    <span>{{vm.book.description}}</span>
                </div>
            </div>
        </div>

        <!-- Админ: дополнительная информация -->
        <div class="bookDetailAdmin" has-authority="ROLE_ADMIN">
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>ID Книги:</b>
                    {{vm.book.id}}
                </span>
            </div>
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>Жанр:</b>
                    {{vm.book.genreName}}
                </span>
            </div>
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>Одобрена:</b>
                    {{vm.book.approved}}
                </span>
            </div>
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>Добавил:</b>
                    {{vm.book.createdBy}}
                </span>
            </div>
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>Дата добавления:</b>
                    {{vm.book.createdDate | date:'medium'}}
                </span>
            </div>
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>Изменения внес:</b>
                    {{vm.book.lastModifiedBy}}
                </span>
            </div>
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>Дата изменения:</b>
                    {{vm.book.lastModifiedDate | date:'medium'}}
                </span>
            </div>
            <div class="bookDetailTextBreakAll">
                <span>
                    <b>Владелец:</b>
                    {{vm.book.profileId}}
                </span>
            </div>
        </div>
    </div>
</div>
