<div class="container">
    <h2>Предложить книгу</h2>
    <div class="addBook">
        <div uib-alert ng-show="isAlertVisible">{{alert.message}}</div>
        <!-- Добавление книги/обложки/отправка -->
        <div class="col-md-3">
            <div class="addBookCover">
                <!-- Обложка -->
                <div class="file_upload_cover" ngf-background="vm.coverFile || '/content/images/ico/addcover.png'" for="file_upload_cover">
                    <input id="cover" ng-model="vm.coverFile" type="file" ngf-select ngf-pattern="'image/*'"
                           ngf-accept="'image/*'" ngf-resize="{width: 240, height: 320, centerCrop: true}"
                           ng-disabled="vm.profile.banned" required>
                </div>
                <div>
                    <uib-progressbar animate="true" value="bookProgressPercentage" ng-show="isCoverUploading"
                                     type="success"><b>{{coverProgressPercentage}}%</b></uib-progressbar>
                </div>
                <!-- Загрузка книги -->
                <div class="file_upload_book" for="field_bookFile">
                    <input type='file' ngf-select ng-model="vm.bookFile" ng-disabled="vm.profile.banned" required>
                </div>
                <uib-progressbar animate="false" value="bookProgressPercentage" ng-show="isBookUploading"
                                 type="success"><b>{{bookProgressPercentage}}%</b></uib-progressbar>
                <!-- Кнопка "Публикации" -->
                <button class="file_publication" type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                        ng-click="vm.save()" ng-hide="vm.profile.banned"></button>
                <button uib-popover-html="bannedPopover" class="file_publication" ng-show="vm.profile.banned"
                        ng-disabled="vm.profile.banned" popover-is-open="vm.profile.banned"></button>
            </div>
        </div>

        <!-- Поля ввода информации о книге -->
        <div class="col-md-6">
            <div class="addBookView">
                <input type="addBookName" placeholder="Название книги"
                       ng-model="vm.book.title" ng-disabled="vm.profile.banned" required>
                <input type="addBookAuthorName" placeholder="Имя автора"
                       ng-disabled="vm.profile.banned" ng-model="vm.book.authorFirstName" required>
                <input type="addBookAuthorSurname" placeholder="Фамилия"
                       ng-disabled="vm.profile.banned" ng-model="vm.book.authorLastName" required>

                <select type="addBookGenre" class="browser-default custom-select" placeholder="Автор книги"
                        ng-model="vm.book.genreId" ng-disabled="vm.profile.banned"
                        ng-options="genre.id as genre.name for genre in vm.genres"></select>

                <input type="addBookOther" placeholder="Год" ng-disabled="vm.profile.banned"
                       ng-model="vm.book.yearOfPublishing" required>
                <input type="addBookOther" ng-disabled="vm.profile.banned" placeholder="Стр" ng-model="vm.book.pages">

                <textarea name="addBookDescription" placeholder="Описание" ng-disabled="vm.profile.banned"
                          ng-model="vm.book.description"></textarea>
            </div>
        </div>

        <!-- Книги, ожидающие проверки -->
        <div class="col-md-3">
            <div class="addWaitBook">

                <div class="waitBooksTitle">
                    <p>Ожидают проверки</p>
                </div>

                <div class="waitBooksScroll">
                    <!-- Книга ожидающая проверку -->
                    <div class="singleBookWait" ng-repeat="book in vm.unconfirmedBooks track by book.id">
                        <div class="singleBookWCover">
                            <img ng-src="{{book.coverPath}}" width="100%" height="100%" style="border-radius:5px">
                        </div>
                        <div class="singleBookWInfo">
                            <div class="bookTitle">{{book.title}}</div>
                            <div class="bookAuthor">{{book.authorFirstName}} {{book.authorLastName}}</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <!-- Мои книги -->
    <div class="myBooks">
        <div class="myBooksTitle">
            <h3>Мои книги</h3>
        </div>

        <select type="myBookSort" ng-options="opt.name for opt in options.data track by opt.name"
                ng-model="options.selected" ng-change="reloadAll()"></select>

        <div class="bookSection">

            <div class="singleBook" ng-repeat="book in vm.books">
                <div class="singleBookCover">
                    <img ng-src="{{book.coverPath}}" width="100%" height="100%" style="border-radius:5px">
                </div>
                <div class="singleBookInfo">
                    <div class="bookTitle">{{book.title}}</div>
                    <div class="bookAuthor">{{book.authorFirstName}} {{book.authorLastName}}</div>
                    <div class="bookRButtons">
                        <button class="btnDetail" ui-sref="book-detail({id:book.id})">Подробнее</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



