<div class="container">
    <h2>Уведомления</h2>
    <div uib-alert close="closeAlert()" ng-show="isAlertVisible">{{alert.message}}</div>
    <div class="libraryNotification">
        <div class="singleNotification" ng-repeat="book in vm.books track by book.id">
            <div class="nBookCover">
                <img data-ng-src="/api/books/downloadCover/{{book.id}}" width="100%" height="100%" style="border-radius:5px">
            </div>
            <div class="nBookInfo">
                <div class="nBookText">
                    <div class="nBookBText1">Название:</div>
                    <div class="nBookBText2">{{book.title}}</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Автор:</div>
                    <div class="nBookBText2">{{book.authorFirstName}} {{book.authorLastName}}</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Жанр:</div>
                    <div class="nBookBText2">{{book.genreName}}</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Год:</div>
                    <div class="nBookBText2">{{book.yearOfPublishing}}</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Страниц:</div>
                    <div class="nBookBText2">{{book.pages}}</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Предложил:</div>
                    <div class="nBookBText2">{{book.createdBy}}</div>
                </div>
            </div>
            <div class="nBookDescription">
                <p><b>Описание</b></p>
                <p>{{book.description}}</p>
            </div>
            <div class="nButtons">
                <button class="nBtnRead" ui-sref="book-detail({id:book.id})">
                    <span class="glyphicon glyphicon-book"></span> Читать
                </button>
                <button class="nBtnPublish" ng-click="publish(book, $index)">
                    <span class="glyphicon glyphicon-ok"></span> Опубликовать
                </button>
                <button class="nBtnCancel" ng-click="reject(book, reason, $index)"><span
                    class="glyphicon glyphicon-remove"></span> Отменить
                </button>
            </div>
        </div>
    </div>
</div>
