<div class="container">
    <div class="col-md-12" ng-show="isReading">
        
        <div class="col-md-2"></div>
        
        <!-- Читаемая книга -->
        <div class="col-md-8">
            <div class="pdff">
                <!-- Вернутся к деталям книги -->
                <button type="button" class="btn btn-primary" ng-click="isReading = false" ng-show="isReading">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="hidden-sm-down">Назад</span>
                </button>
                                
                <!-- Уменьшить масштаб -->
                <!-- <button type="button" class="btn btn-primary" ng-click="zoomOut()" ng-show="isReading">
                    <span class="hidden-sm-down"></span>
                    <span class="glyphicon glyphicon-minus"></span>
                </button> -->
        
                <!-- Масштаб -->
                <!-- <span class="hidden-sm-down" ng-show="isReading">Масштаб {{(vm.pdfBook.scale * 100.0).toFixed(0)}}%</span> -->
        
                <!-- Увеличить масштаб -->
                <!-- <button type="button" class="btn btn-primary" ng-click="zoomIn()" ng-show="isReading">
                    <span class="hidden-sm-down"></span>
                    <span class="glyphicon glyphicon-plus"></span>
                </button> -->
                
                <!-- Первая страница -->
                <button type="button" class="btn btn-danger" ng-click="firstPage()" ng-show="isReading">
                    <span class="hidden-sm-down"></span>
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
        
                <!-- Страница влево -->
                <button type="button" class="btn btn-warning" ng-click="prevPage()" ng-show="isReading">
                    <span class="hidden-sm-down"></span>
                    <span class="glyphicon glyphicon-arrow-left"></span>
                </button>
        
                <!-- Страница -->
                <span class="hidden-sm-down" ng-show="isReading">
                    <input id="page_top" type="text" style="width: 3%; display: inline; text-align: center"
                            ng-keypress="changePage($event)">
                    <span id="pages_top"> / </span>
                </span>
        
                <!-- Страница вправо -->
                <button type="button" class="btn btn-warning" ng-click="nextPage()" ng-show="isReading">
                    <span class="hidden-sm-down"></span>
                    <span class="glyphicon glyphicon-arrow-right"></span>
                </button>
        
                <!-- Последняя страница -->
                <button type="button" class="btn btn-danger" ng-click="lastPage()" ng-show="isReading">
                    <span class="hidden-sm-down"></span>
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>

                <!-- Скачать -->
                <button type="button" class="btn btn-primary" ng-show="isReading" ng-click="download()">
                    <span class="glyphicon glyphicon-download-alt"></span>
                    <span class="hidden-sm-down">Скачать</span>
                </button>
            </div>

            <canvas class="pdf" id="book-canvas" ng-show="isReading"></canvas>

            <div class="pdff">
            <!-- Вернутся к деталям книги -->
            <button type="button" class="btn btn-primary" ng-click="isReading = false" ng-show="isReading">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="hidden-sm-down">Назад</span>
            </button>
    
            <!-- Уменьшить масштаб -->
            <!-- <button type="button" class="btn btn-primary" ng-click="zoomOut()" ng-show="isReading">
                <span class="hidden-sm-down"></span>
                <span class="glyphicon glyphicon-minus"></span>
            </button> -->
    
            <!-- Масштаб -->
            <!-- <span class="hidden-sm-down" ng-show="isReading">Масштаб {{(vm.pdfBook.scale * 100.0).toFixed(0)}}%</span> -->
    
            <!-- Увеличить масштаб -->
            <!-- <button type="button" class="btn btn-primary" ng-click="zoomIn()" ng-show="isReading">
                <span class="hidden-sm-down"></span>
                <span class="glyphicon glyphicon-plus"></span>
            </button> -->
            
            <!-- Первая страница -->
            <button type="button" class="btn btn-danger" ng-click="firstPage()" ng-show="isReading">
                <span class="hidden-sm-down"></span>
                <span class="glyphicon glyphicon-step-backward"></span>
            </button>
    
            <!-- Страница влево -->
            <button type="button" class="btn btn-warning" ng-click="prevPage()" ng-show="isReading">
                <span class="hidden-sm-down"></span>
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
    
            <!-- Страница -->
            <span class="hidden-sm-down" ng-show="isReading">
                <input id="page_bot" type="text" style="width: 3%; display: inline; text-align: center"
                    ng-model="vm.pdfBook.pageNum">
                <span id="pages_bot"> / {{vm.pdfBook.pdfDoc.numPages}}</span>
            </span>
    
            <!-- Страница вправо -->
            <button type="button" class="btn btn-warning" ng-click="nextPage()" ng-show="isReading">
                <span class="hidden-sm-down"></span>
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
    
            <!-- Последняя страница -->
            <button type="button" class="btn btn-danger" ng-click="lastPage()" ng-show="isReading">
                <span class="hidden-sm-down"></span>
                <span class="glyphicon glyphicon-step-forward"></span>
            </button>

            <!-- Скачать -->
            <button type="button" class="btn btn-primary" ng-show="isReading" ng-click="download()">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span class="hidden-sm-down">Скачать</span>
            </button>
            </div>

            <div class="col-md-2"></div>

        </div>    
    </div>
</div>

<div class="container" ng-hide="isReading">
    <div>
        <!-- Обложка книги -->
        <div class="bookDetailCover">
            <div class="bookCover">
                <img data-ng-src="/api/books/downloadCover/{{vm.book.id}}" width="100%" height="100%" style="border-radius:5px">
            </div>

            <button type="button" class="btn btn-success" ng-click="download()" has-authority="ROLE_USER">
                <span class="glyphicon glyphicon-download-alt"></span>
                <span class="hidden-sm-down"> Загрузить</span>
            </button>

            <button type="button" class="btn btn-danger" ng-click="read()" ng-show="vm.book.path.endsWith('.pdf')">
                <span class="glyphicon glyphicon-book"></span>
                <span class="hidden-sm-down"> Читать</span>
            </button>
        </div>

        <!-- Название и автор книги -->
        <div class="bookDetailName">
            <button type="button" ui-sref="book.delete({id:vm.book.id})" class="btn btn-danger" style="float:right"
                    has-authority="ROLE_ADMIN">
                <span class="glyphicon glyphicon-trash"></span>
                <span class="hidden-sm-down">Удалить книгу</span>
            </button>

            <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info" style="float:right">
                <span class="glyphicon glyphicon-arrow-left"></span>
                <span>Назад</span>
            </button>

            <div class="bookDetailNameText">
                <b>{{vm.book.title}}</b>
            </div>

            <div class="bookDetailInfoText">
                {{vm.book.authorFirstName}} {{vm.book.authorLastName}}
            </div>
        </div>

        <!-- Жанр и прочее о книге -->
        <div class="bookDetailName2">
            <div class="bookDetailInfo">
                <div class="bookDetailInfoText">
                    <span>
                        <b>Жанр:</b>
                        {{vm.book.genreName}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Год издания:</b>
                        {{vm.book.yearOfPublishing}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Страниц:</b>
                        {{vm.book.pages}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Предложил:</b>
                        <span ui-sref="profile-detail({id:vm.book.profileId})"><a>{{vm.book.createdBy}}</a></span>
                    </span>
                </div>


                <div class="bookDetailInfoText" has-authority="ROLE_ADMIN">
                    <span>
                        <b>Одобрена:</b>
                        <span ng-if="vm.book.approved">Да</span>
                        <span ng-if="!vm.book.approved">Нет</span>
                    </span>
                </div>
                <div class="bookDetailInfoText" has-authority="ROLE_ADMIN">
                    <span>
                        <b>Дата добавления:</b>
                        {{vm.book.createdDate | date:'medium'}}
                    </span>
                </div>
                <div class="bookDetailInfoText" has-authority="ROLE_ADMIN">
                    <span>
                        <b>Дата изменения:</b>
                        {{vm.book.lastModifiedDate | date:'medium'}}
                    </span>
                </div>

            </div>

            
            <!-- Описание -->
            <div class="bookDetailDescription">
                <div class="bookDetailInfoText">
                    <span><b>Описание</b></span>
                </div>
                <div class="bookDetailDescriptionText">
                    <span>{{vm.book.description}}</span>
                </div>
            </div>

            <!-- Админ: дополнительная информация -->
            <!-- <div class="bookDetailAdmin" has-authority="ROLE_ADMIN">
                <div class="bookDetailInfoText">
                    <span>
                        <b>ID Книги:</b>
                        {{vm.book.id}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Жанр:</b>
                        {{vm.book.genreName}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Одобрена:</b>
                        {{vm.book.approved}}
                    </span>
                </div>
                <div class="bookDetailInfoText">
                    <span>
                        <b>Добавил:</b>
                        {{vm.book.createdBy}}
                    </span>
                </div>
    
                <div class="bookDetailInfoText">
                    <span>
                        <b>Дата добавления:</b>
                        {{vm.book.createdDate | date:'medium'}}
                    </span>
                </div>
    
                <div class="bookDetailInfoText">
                    <span>
                        <b>Изменения внес:</b>
                        {{vm.book.lastModifiedBy}}
                    </span>
                </div>
    
                <div class="bookDetailInfoText">
                    <span>
                        <b>Дата изменения:</b>
                        {{vm.book.lastModifiedDate | date:'medium'}}
                    </span>
                </div>
    
                <div class="bookDetailInfoText">
                    <span>
                        <b>Владелец:</b>
                        {{vm.book.profileId}}
                    </span>
                </div>
            </div> -->

        </div>  
    </div>
</div>
