<div class="container">
    <div class="homeRow">
        
        <div class="col-md-6">
            <h2>Обратная связь</h2>
            <div uib-alert ng-show="isAlertVisible">{{alert.message}}</div>
            <div class="help-contact-us">
                
                <!-- Форма обратной связи -->
                <form id="contact-form" ng-submit="vm.sendFeedback()" role="form">
                    <div class="messages"></div>
                    <div class="controls">
                        <div class="row">
                            <!-- Имя -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h3 for="form_name">Имя</h3>
                                    <input id="form_name" type="text" name="name" class="form-control"
                                           placeholder="Введите свое имя *" required data-error="Firstname is required."
                                           ng-model="feedback.firstName">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <!-- Фамилия -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <h3 for="form_lastname">Фамилия</h3>
                                    <input id="form_lastname" type="text" name="surname" class="form-control"
                                           placeholder="Введите свою фамилию *" required="required"
                                           data-error="Lastname is required." ng-model="feedback.lastName">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Email -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h3 for="form_email">Email</h3>
                                    <input id="form_email" type="email" name="email" class="form-control"
                                           placeholder="Введите свой email *" required="required"
                                           data-error="Valid email is required." ng-model="feedback.email">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- Сообщение -->
                            <div class="col-md-12">
                                <div class="form-group">
                                    <h3 for="form_message">Сообщение</h3>
                                    <textarea id="form_message" name="message" class="form-control"
                                              placeholder="Сообщение для нас *" rows="4" required="required"
                                              data-error="Please, leave us a message." ng-model="feedback.message">
                                    </textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <!-- Кнопки -->
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-warning" style="float:right">
                                    <span class="glyphicon glyphicon-send"></span>
                                    <span class="hidden-sm-down">Отправить</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </form> <!-- Конец формы-->

            </div>
        </div>

        <div class="col-md-4">
            <div class="help-about-us">
                <div class="help-about-us-logo"></div>
                <h2>ELibrary</h2>
                <h4>Проект реализован группой студентов И-1-15</h4>
            </div>
        </div>
    </div>
</div>
