<script src="/build/pdf.js"></script>

<button type="button" class="btn btn-primary" ng-click="firstPage()" ng-show="vm.isReading">
    <span class="hidden-sm-down" data-translate="entity.action.firstPage">First page</span>
</button>

<button type="button" class="btn btn-primary" ng-click="prevPage()" ng-show="vm.isReading">
    <span class="hidden-sm-down" data-translate="entity.action.prevPage">Previous page</span>
</button>

<span class="hidden-sm-down" data-translate="eLibraryApp.book.page" ng-show="vm.isReading"
      translate-values="{pageNum: '{{vm.pdfBook.pageNum}}', numPages: '{{vm.pdfBook.pdfDoc.numPages}}'}">Pages:</span>

<button type="button" class="btn btn-primary" ng-click="nextPage()" ng-show="vm.isReading">
    <span class="hidden-sm-down" data-translate="entity.action.nextPage">Next page</span>
</button>

<button type="button" class="btn btn-primary" ng-click="lastPage()" ng-show="vm.isReading">
    <span class="hidden-sm-down" data-translate="entity.action.lastPage">Last page</span>
</button>

<button type="button" class="btn btn-primary" ng-click="vm.isReading = false" ng-show="vm.isReading">
    <span class="hidden-sm-down" data-translate="entity.action.back">Back</span>
</button>

<canvas id="book-canvas" ng-show="vm.isReading"></canvas>

<p>
    <button type="button" class="btn btn-primary" ng-click="firstPage()" ng-show="vm.isReading">
        <span class="hidden-sm-down" data-translate="entity.action.firstPage">First page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="prevPage()" ng-show="vm.isReading">
        <span class="hidden-sm-down" data-translate="entity.action.prevPage">Previous page</span>
    </button>

    <span class="hidden-sm-down" data-translate="eLibraryApp.book.page" ng-show="vm.isReading"
          translate-values="{pageNum: '{{vm.pdfBook.pageNum}}', numPages: '{{vm.pdfBook.pdfDoc.numPages}}'}">Pages:</span>

    <button type="button" class="btn btn-primary" ng-click="nextPage()" ng-show="vm.isReading">
        <span class="hidden-sm-down" data-translate="entity.action.nextPage">Next page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="lastPage()" ng-show="vm.isReading">
        <span class="hidden-sm-down" data-translate="entity.action.lastPage">Last page</span>
    </button>

    <button type="button" class="btn btn-primary" ng-click="vm.isReading = false" ng-show="vm.isReading">
        <span class="hidden-sm-down" data-translate="entity.action.back">Back</span>
    </button>
</p>

<div class="container" ng-hide="vm.isReading">
    <h2>Уведомления</h2>
    <div class="libraryNotification">
        
        <!-- 1 Уведомление -->
        <div class="singleNotification"> 
            <div class="nBookCover">
                <img src="/content/images/ico/testbook.png">
            </div> 
            <div class="nBookInfo">
                <div class="nBookText">
                    <div class="nBookBText1">Название:</div>
                    <div class="nBookBText2">Гарри Поттер и узник Algol60</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Автор:</div>
                    <div class="nBookBText2">Бородатый Гик</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Жанр:</div>
                    <div class="nBookBText2">Фантастическое программирование</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Год:</div>
                    <div class="nBookBText2">1010</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Страниц:</div>
                    <div class="nBookBText2">1010</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Предложил:</div>
                    <div class="nBookBText2">Автор</div>
                </div>
            </div>
            <div class="nBookDescription">
                    <p><b>Описание</b></p>
                    <p> Тут описание книгиТут описание книгиТут описание книгиТут описание книгиТут описание книги
                        Тут описание книгиТут описание книгиТут описание книгиТут описание книгиТут описание книги
                        Тут описание книгиТут описание книгиТут описание книгиТут описание книгиТут описание книги
                    </p>
            </div>
            <div class="nButtons">
                <!-- <button class="nBtnRead" ng-click="read()" ng-show="vm.book.path.endsWith('.pdf')">Читать</button> -->
                <button class="nBtnRead">Читать</button>
                <button class="nBtnPublish"><span class="glyphicon glyphicon-book"></span> Опубликовать</button>
                <button class="nBtnCancel"><span class="glyphicon glyphicon-remove"></span> Отменить</button>
            </div>
        </div>
        <!-- Конец уведомления -->


        <!-- 1 Уведомление -->
        <div class="singleNotification"> 
            <div class="nBookCover">
                <img src="/content/images/ico/testbook.png">
            </div> 
            <div class="nBookInfo">
                <div class="nBookText">
                    <div class="nBookBText1">Название:</div>
                    <div class="nBookBText2">Гарри Поттер и узник Algol60</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Автор:</div>
                    <div class="nBookBText2">Бородатый Гик</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Жанр:</div>
                    <div class="nBookBText2">Фантастическое программирование</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Год:</div>
                    <div class="nBookBText2">1010</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Страниц:</div>
                    <div class="nBookBText2">1010</div>
                </div>
                <div class="nBookText">
                    <div class="nBookBText1">Предложил:</div>
                    <div class="nBookBText2">Автор</div>
                </div>
            </div>
            <div class="nBookDescription">
                    <p><b>Описание</b></p>
                    <p> Тут описание книгиТут описание книгиТут описание книгиТут описание книгиТут описание книги
                        Тут описание книгиТут описание книгиТут описание книгиТут описание книгиТут описание книги
                        Тут описание книгиТут описание книгиТут описание книгиТут описание книгиТут описание книги
                    </p>
            </div>
            <div class="nButtons">
                <!-- <button class="nBtnRead" ng-click="read()" ng-show="vm.book.path.endsWith('.pdf')">Читать</button> -->
                <button class="nBtnRead">Читать</button>
                <button class="nBtnPublish"><span class="glyphicon glyphicon-book"></span> Опубликовать</button>
                <button class="nBtnCancel"><span class="glyphicon glyphicon-remove"></span> Отменить</button>
            </div>
        </div>
        <!-- Конец уведомления -->
        
    </div>
<div>

        <!-- <div>
                <h2><span data-translate="eLibraryApp.book.detail.title">Book</span> {{vm.book.id}}</h2>
                <hr>
                <jhi-alert-error></jhi-alert-error>
                <dl class="dl-horizontal jh-entity-details">
                    <dt><span data-translate="eLibraryApp.book.title">Title</span></dt>
                    <dd>
                        <span>{{vm.book.title}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.description">Description</span></dt>
                    <dd>
                        <span>{{vm.book.description}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.pages">Pages</span></dt>
                    <dd>
                        <span>{{vm.book.pages}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.approved">Approved</span></dt>
                    <dd>
                        <span>{{vm.book.approved}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.path">Path</span></dt>
                    <dd>
                        <span>{{vm.book.path}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.coverPath">Cover Path</span></dt>
                    <dd>
                        <span>{{vm.book.coverPath}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.createdBy">Created By</span></dt>
                    <dd>
                        <span>{{vm.book.createdBy}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.createdDate">Created Date</span></dt>
                    <dd>
                        <span>{{vm.book.createdDate | date:'medium'}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.lastModifiedBy">Last Modified By</span></dt>
                    <dd>
                        <span>{{vm.book.lastModifiedBy}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.lastModifiedDate">Last Modified Date</span></dt>
                    <dd>
                        <span>{{vm.book.lastModifiedDate | date:'medium'}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.yearOfPublishing">Year Of Publishing</span></dt>
                    <dd>
                        <span>{{vm.book.yearOfPublishing}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.authorFirstName">Author First Name</span></dt>
                    <dd>
                        <span>{{vm.book.authorFirstName}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.authorLastName">Author Last Name</span></dt>
                    <dd>
                        <span>{{vm.book.authorLastName}}</span>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.profile">Profile</span></dt>
                    <dd>
                        <a ui-sref="profile-detail({id:vm.book.profileId})">{{vm.book.profileId}}</a>
                    </dd>
                    <dt><span data-translate="eLibraryApp.book.genre">Genre</span></dt>
                    <dd>
                        <a ui-sref="genre-detail({id:vm.book.genreId})">{{vm.book.genreName}}</a>
                    </dd>
                </dl>
            
                <button type="submit"
                        ui-sref="{{ vm.previousState }}"
                        class="btn btn-info">
                    <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
                </button>
            
                <button type="button" ui-sref="book-detail.edit({id:vm.book.id})" class="btn btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                    <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
                </button>
            
                <button type="button" class="btn btn-primary" ng-click="download()">
                    <span class="hidden-sm-down" data-translate="entity.action.download">Download</span>
                </button>
            </div> -->
