<div ng-cloak>
    <style>button[type="search-submit"] {background: url(/content/images/ico/searchico.png) no-repeat 50% 50%;}</style>

    <div class="row">
        <div class="col-md-10">
            <form action="#">
                    <button type="search-submit"></button>
                    <input type="search" placeholder="Поиск по книгам">
            </form>
        </div>

        <div class="col-md-2" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">
            <div ng-class="{active: vm.$state.includes('account')}" uib-dropdown class="dropdown pointer">
                <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                    <img src="content/images/ico/profile.png">
                </a>
                <ul class="dropdown-menu" uib-dropdown-menu>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                            <span data-translate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a ui-sref="password" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-lock"></span>&nbsp;
                            <span data-translate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="true">
                        <a href="" ng-click="vm.logout()" id="logout">
                            <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                            <span data-translate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="false">
                        <a href="" ng-click="vm.login()" id="login">
                            <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                            <span data-translate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-switch-when="false">
                        <a ui-sref="register" ng-click="vm.collapseNavbar()">
                            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                            <span data-translate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div> 
