<div ng-cloak>
    <style>
        button[type="search-submit"] {
            background: url(/content/images/ico/searchico.png) no-repeat 50% 50%;
        }
    </style>

    <div class="row">
        <div class="col-md-10">
            <span uib-dropdown is-open="searchBarOpen" dropdown-append-to-body >
                <button id="simple-dropdown" type="search-submit" uib-dropdown-toggle ng-click="toggled()" ></button>
                <input id="search-dropdown" ng-keypress="keyPressed($event)" type="search" placeholder="Поиск по книгам" ng-model="searchText" >
                <ul class="dropdown-menu" style="width: 37%" uib-dropdown-menu >
                    <li  ng-repeat="book in vm.foundBooks" ng-if="vm.foundBooks!==0">
                        <a ui-sref="book-detail({id: book.id})">{{book.title}}
                            | {{book.authorFirstName}} {{book.authorLastName}}</a>
                    </li>
                    <li ng-if="vm.foundBooks.length===0"><a>По запросу ничего не найдено</a></li>
                </ul>
            </span>
        </div>

        <div class="col-md-1">
            <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()" ng-click="vm.getAccount()">
                <!-- Иконка аккаунта пользователя -->
                <div  uib-dropdown class="dropdown pointer">
                    <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu" >
                        <img src="/content/images/ico/profile.png">
                    </a>
                    <ul class="dropdown-menu pull-right" uib-dropdown-menu>
                        <li ui-sref-active="active" ng-switch-when="true" >
                                <a  ui-sref="profile-detail({id: vm.profile.id})" >
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <span >Мой профиль</span>
                                </a>
                            </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="settings" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-wrench"></span>&nbsp;
                                <span data-translate="global.menu.account.settings">Settings</span>
                            </a>
                        </li>                        
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a ui-sref="password" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-lock"></span>&nbsp;
                                <span>Пароль</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="true">
                            <a href="" ng-click="vm.logout()" id="logout">
                                <span class="glyphicon glyphicon-log-out"></span>&nbsp;
                                <span>Выйти</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a href="" ng-click="vm.login()" id="login">
                                <span class="glyphicon glyphicon-log-in"></span>&nbsp;
                                <span>Войти</span>
                            </a>
                        </li>
                        <li ui-sref-active="active" ng-switch-when="false">
                            <a ui-sref="register" ng-click="vm.collapseNavbar()">
                                <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;
                                <span>Регистрация</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div> 