<nav id="sidebar-menu">
    <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()"> 
        <ul>
            <!-- Главная -->
            <li class="navhover" ui-sref="home">
                <i class="fa fa-book-open"></i>
            </li>
            <!-- Библиотека -->
            <li class="navhover" ui-sref="book" ng-click="vm.collapseNavbar()">
                <i class="fa fa-book"></i>
                <b class="fa fa-caret-left"></b>
                <ul>
                    <li><a ui-sref="book">Библиотека</a></li>
                </ul>
            </li>
            <!-- Избранное -->
            <!-- <li class="navhover" ui-sref="favorite-book" ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" has-authority="ROLE_USER"> -->
            <li class="navhover" ui-sref="favorite-book" ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_USER">
                <i class="fa fa-heart"></i>
                <b class="fa fa-caret-left"></b>
                <ul>
                    <li><a ui-sref="favorite-book">Избранное</a></li>
                </ul>
            </li>
            <!-- Форма добавления книги -->
            <li class="navhover" ui-sref="book.new" has-authority="ROLE_USER">
                <!-- <i class="fa fa-folder-plus"></i> -->
                <i class="fa fa-plus-square"></i>
                <b class="fa fa-caret-left"></b>
                <ul>
                    <li><a ui-sref="book.new">Добавить книгу</a></li>
                </ul>
            </li>
            <!-- Админ: Управление пользователями -->
            <li class="navhover" ui-sref="profile" ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_USER">
                <i class="fa fa-user-cog"></i>
                <b class="fa fa-caret-left"></b>
                <ul>
                    <li><a ui-sref="profile">Пользователи</a></li>
                </ul>
            </li>
            <!-- Админ: Уведомления -->
            <li class="navhover" ui-sref="notification" ng-class="{active: vm.$state.includes('entity')}" has-authority="ROLE_ADMIN">
                <i class="fa fa-bell"></i>
                <b class="fa fa-caret-left"></b>
                <ul>
                    <li><a ui-sref="notification">Уведомления</a></li>
                </ul>
            </li>
            <!-- Админ: Статистика -->
            <li class="navhover"  ng-class="{active: vm.$state.includes('admin')}" has-authority="ROLE_ADMIN">
                <i class="fa fa-chart-line"></i>
                <b class="fa fa-caret-left"></b>
                <ul>
                    <li><a ui-sref="user-management">Управление пользователями</a></li>
                    <li><a ui-sref="genre">Жанры</a></li>
                    <!-- <li><ui-sref="read-book" >Прочитанные книги</a></li> -->
                    <li><a ui-sref="jhi-metrics">Метрики</a></li>
                    <li><a ui-sref="jhi-health">Состояние</a></li>
                    <li><a ui-sref="jhi-configuration">Настройки</a></li>
                    <li><a ui-sref="audits">Аудит</a></li>
                    <li><a ui-sref="logs">Логи</a></li>
                    <li><a ui-sref="docs">API</a></li>
                </ul>
            </li>
            <!-- Справка -->
            <li class="navhover" ui-sref="help">
                <i class="fa fa-question-circle"></i>
                <b class="fa fa-caret-left"></b>
                <ul>
                    <li><a ui-sref="help">Справка</a></li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
