<nav class="navmenu navmenu-default" role="navigation">
        <div class="sidebar">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="vm.toggleNavbar()">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            
            <!-- <a class="navbar-brand logo" href="#/" ng-click="vm.collapseNavbar()">
                <img class="logo-img" src="content/images/logo-jhipster.png" alt="logo"/> ELibrary
            </a> -->

            <div class="navbar-collapse" uib-collapse="vm.isNavbarCollapsed" ng-switch="vm.isAuthenticated()">   
                <ul class="nav navmenu-nav">
                    
                    <!-- Главная -->
                    <li class="icobox"><a href="#"><img src="content/images/ico/logo.png"></a></li>
                    
                    <!-- Библиотека -->
                    <li class="icobox">
                        <a ui-sref="book" ng-click="vm.collapseNavbar()">
                            <img src="content/images/ico/library.png">
                        </a>
                    </li>

                    <!-- Избранное -->
                    <li class="icobox" ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true">
                        <a ui-sref="favorite-book" ng-click="vm.collapseNavbar()">
                            <img src="content/images/ico/favorites.png">
                        </a>
                    </li>

                    <!-- Форма добавления книги -->
                    <li class="icobox">
                        <a ui-sref="book" ng-click="vm.collapseNavbar()">
                            <img src="content/images/ico/addbook.png">
                        </a>
                    </li>
                    
                    <!-- Админ: Управление пользователями -->
                    <li class="icobox" ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu" ui-sref="user-management" ng-click="vm.collapseNavbar()">
                            <img src="content/images/ico/user.png">
                        </a>
                    </li>
                    
                    <!-- Админ: Уведомления -->
                    <li class="icobox" ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                            <img src="content/images/ico/notice.png">
                        </a>
                    </li>

                    <!-- Админ: Статистика -->
                    <li class="icobox" ng-class="{active: vm.$state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="account-menu">
                            <img src="content/images/ico/admin.png">
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                <a ui-sref="user-management" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-user"></span>&nbsp;
                                    <span data-translate="global.menu.admin.userManagement">User management</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-metrics" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-dashboard"></span>&nbsp;
                                    <span data-translate="global.menu.admin.metrics">Metrics</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-health" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-heart"></span>&nbsp;
                                    <span data-translate="global.menu.admin.health">Health</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="jhi-configuration" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-list-alt"></span>&nbsp;
                                    <span data-translate="global.menu.admin.configuration">Configuration</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-bell"></span>&nbsp;
                                    <span data-translate="global.menu.admin.audits">Audits</span>
                                </a>
                            </li>
                            <li ui-sref-active="active">
                                <a ui-sref="logs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-tasks"></span>&nbsp;
                                    <span data-translate="global.menu.admin.logs">Logs</span>
                                </a>
                            </li>
                            <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                                <a ui-sref="docs" ng-click="vm.collapseNavbar()">
                                    <span class="glyphicon glyphicon-book"></span>&nbsp;
                                    <span data-translate="global.menu.admin.apidocs">API</span>
                                </a>
                            </li>
                        </ul>
                    </li>
    
                    <!-- Справка -->
                    <li class="icobox"><img src="content/images/ico/help.png"></li>
                    
                    <!-- Сущности -->
                    <li ng-class="{active: vm.$state.includes('entity')}" ng-switch-when="true" uib-dropdown class="dropdown pointer">
                        <a class="dropdown-toggle" uib-dropdown-toggle href="" id="entity-menu">
                            <span>
                                <span class="glyphicon glyphicon-th-list"></span>
                                <span class="hidden-sm" data-translate="global.menu.entities.main">
                                    Entities
                                </span>
                                <b class="caret"></b>
                            </span>
                        </a>
                        <ul class="dropdown-menu" uib-dropdown-menu>
                            <li ui-sref-active="active">
                                    <a ui-sref="book" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.book">Book</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="read-book" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.readBook">Read Book</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="genre" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.genre">Genre</span>
                                    </a>
                                </li>
                            <li ui-sref-active="active">
                                    <a ui-sref="profile" ng-click="vm.collapseNavbar()">
                                        <span class="glyphicon glyphicon-asterisk"></span>&nbsp;
                                        <span data-translate="global.menu.entities.profile">Profile</span>
                                    </a>
                                </li>
                            <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
                        </ul>
                    </li>

                    
                    
                </ul>
            </div>
        </div>
      </nav>

