<div class="container-fluid">
    <div class="row">
        <div class="col-md-9 col-sm-12">
            
            <!-- Баннер с переходом на библиотеку -->
            <a ui-sref="book" ng-click="vm.collapseNavbar()">
                <div class="goToLibrary"></div>
            </a>

            <!-- БЛОК рекомендации -->
            <div class="homeRecommendedBooks">
                <h3>Рекомендации</h3>
                <div class="homeRow">
                    <div class="homeCol col-md-4" ng-repeat="book in vm.recommendedBooks | limitTo:3 track by book.id">
                        <div class="homeRBook">
                            <!-- Рекомендуемая книга 1 -->
                            <div class="homeRBookSingle">
                                <!-- Обложка книги -->
                                <div class="homeRBookCover"><img data-ng-src="/api/books/downloadCover/{{book.id}}"width="100%" height="100%" style="border-radius:5px"></div>
                                <!-- Информация о книге -->
                                <div class="homeRBookInfo">
                                    <div class="homeRBookReadedH">&nbsp;
                                        <div class="homeRBookReaded"ng-if="isRead(book.id)" has-authority="ROLE_USER">Прочитано</div>
                                    </div>
                                    <div class="homeRBookTitle">{{book.title}}</div>
                                    <div class="homeRBookAuthor">{{book.authorFirstName}} {{book.authorLastName}}</div>
                                </div>
                                <!-- Кнопки -->
                                <div class="homeRBookBtns">
                                    <a ui-sref="book-detail({id:book.id})"><button class="btnLibReadBook2">Читать</button></a>
                                    <button has-authority="ROLE_USER" ng-class="{false:'btnLibFavoriteBook', true:'btnLibFavoriteBookChecked ' } [isFavorite(book.id)]" ng-click="getFavorite(book.id)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- БЛОК Топ 10 пользователей -->
        <div class="col-md-3 col-sm-12">
            <div class="topTenUsers">
                <div class="topTenTitle">Топ 10 Пользователей<br> по загрузке книг</div>
                <div class="topUsers" ng-repeat="profile in vm.topProfiles track by profile.id">
                    <div ui-sref="profile-detail({id: profile.id})" class="topUser">{{profile.userLogin}}</div>
                </div>
            </div>
        </div>
    </div>

    <!-- БЛОК Новое поступление книг -->
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <h3>Новое поступление</h3>
            <div class="newArrival">
                <div class="row">
                    <!-- Книга 1 -->
                    <div class="col-md-3" ng-repeat="book in vm.newBooks | limitTo:10 track by book.id">
                        <div class="homeNewArrivalBook">
                            <div class="homeABookSingle">
                                <!-- Обложка -->
                                <div class="homeABookCover"><img data-ng-src="/api/books/downloadCover/{{book.id}}" width="100%" height="100%" style="border-radius:5px"></div>
                                <!-- Инфа о книге -->
                                <div class="homeABookInfo">
                                    <div class="homeRBookReadedH">&nbsp;
                                        <div class="homeRBookReaded" ng-if="isRead(book.id)" has-authority="ROLE_USER">Прочитано</div>
                                    </div>
                                    <div class="homeRBookTitle">{{book.title}}</div>
                                    <div class="homeRBookAuthor">{{book.authorFirstName}} {{book.authorLastName}}</div>
                                </div>
                                <!-- Кнопки -->
                                <div class="homeABookBtns">
                                    <a ui-sref="book-detail({id:book.id})"><button class="btnLibReadBook2">Читать</button></a>
                                    <button has-authority="ROLE_USER" ng-class="{false:'btnLibFavoriteBook', true:'btnLibFavoriteBookChecked ' } [isFavorite(book.id)]" ng-click="getFavorite(book.id)"></button>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
            </div>
        </div>
    </div>  
    
</div>
 


 <!--<div ng-cloak>
    <div class="row">
        <div class="col-md-2">
            <span class="hipster img-responsive img-rounded"></span>
        </div>
        <div class="col-md-9">
            <h1 data-translate="home.title">Welcome, Java Hipster!</h1>
            <p class="lead" data-translate="home.subtitle">This is your homepage</p>

            <div ng-switch="vm.isAuthenticated()">
                <div class="alert alert-success" ng-switch-when="true" data-translate="home.logged.message" translate-values="{username: '{{vm.account.login}}'}">
                    You are logged in as user "{{vm.account.login}}".
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.authenticated" translate-compile>
                    If you want to <a class="alert-link" href="" ng-click="vm.login()">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>

                <div class="alert alert-warning" ng-switch-when="false" data-translate="global.messages.info.register" translate-compile>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

            <p data-translate="home.question">
                If you have any question on JHipster:
            </p>

            <ul>
                <li><a href="http://www.jhipster.tech/" target="_blank" rel="noopener" data-translate="home.link.homepage">JHipster homepage</a></li>
                <li><a href="http://stackoverflow.com/tags/jhipster/info" target="_blank" rel="noopener" data-translate="home.link.stackoverflow">JHipster on Stack Overflow</a></li>
                <li><a href="https://github.com/jhipster/generator-jhipster/issues?state=open" target="_blank" rel="noopener" data-translate="home.link.bugtracker">JHipster bug tracker</a></li>
                <li><a href="https://gitter.im/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.link.chat">JHipster public chat room</a></li>
                <li><a href="https://twitter.com/java_hipster" target="_blank" rel="noopener" data-translate="home.link.follow">follow @java_hipster on Twitter</a></li>
            </ul>

            <p>
             <span data-translate="home.like">If you like JHipster, don't forget to give us a star on </span>&nbsp;<a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" data-translate="home.github">GitHub</a>!
            </p>
        </div>
    </div> 
</div>-->
