body {
    background: #faf8ff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    height: 100%; 
}

#wrapper {
    width: 100%;
    outline: 1px solid #787274;
    padding: 10px;
    margin: 0 auto;
}

#sidebar {
    height: 150%;
    background-color: #d65600;
    width: 100px;
    float: left;
    position: absolute;
}
#header {
    padding-left: 24px;
    padding-top: 24px;
    height: 100px;
    width: 100%;
    background: #faf8ff;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

#info {
    margin: 55px;
    height: 100%;
    background: #faf8ff;
    width: 100%;
}

.icobox {
    height: 100px;
    width: 100px;
    background-color: none;
}

.icobox:hover {
    background:#e49159;
}

.container {
    padding: 0px;
    width: 100%;
}

.col-md-1 {
    width: 100px;
}

.col-md-10 {
    width: 100%;
    padding-left: 0px;
}

.row {
    /* padding-left: 100px; */
    padding-left: 0px;
    width: 100%;
}

.rowhead {
    padding-left: 100px;
}

.rowcontent {
    padding-left: 100px;
    padding-right: 100px;
}

/* ==========================================================================
Предложить книгу
========================================================================== */


.addBook {
    background-color: #FF9900;
    width: 100%;
    border-radius: 5px;
}

.addBookCover {
    background-color: #fff;
    width: 17%;
    padding: 15px;
    margin-right: 1%;
    float:left;
    border-radius: 5px;
}
.addBookView {
    background-color: #fff;
    width: 62%;
    float:left;
    padding: 15px;
    border-radius: 5px;
}

.addBookWait {
    background-color: #fff;
    width: 17%;
    height: 100%;
    margin-left: 1%;
    float:left;
    padding: 15px;
    border-radius: 5px;
}

.addWaitBook {
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

input[type="addBookName"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 100%;
    height: 55px;
    font-size: 16pt;
    color: #dadada;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 15px;
    padding-left: 15px;
}

textarea[name="addBookDescription"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 100%;
    height: 400px;
    font-size: 16pt;
    color: #dadada;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    padding-left: 15px;
    padding-top: 10px;
    
}

input[type="addBookAuthorName"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 19%;
    height: 55px;
    font-size: 16pt;
    color: #dadada;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    margin-right: 16px;
    margin-bottom: 15px;
    padding-left: 15px;
}

input[type="addBookAuthorSurname"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 19%;
    height: 55px;
    font-size: 16pt;
    color: #dadada;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    margin-right: 16px;
    margin-bottom: 15px;
    padding-left: 15px;
}

select[type="addBookGenre"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 19%;
    height: 55px;
    font-size: 16pt;
    color: #dadada;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    padding-left: 10px;
}

input[type="addBookOther"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 15%;
    height: 55px;
    font-size: 16pt;
    color: #dadada;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    margin-left: 15px;
    padding-left: 15px;
}

.file_upload_cover {
    background-color: white;
    margin-bottom: 15px;
    background: url(/content/images/ico/addcover.png) no-repeat 50% 50%;
    width: 100%;
    height: 320px;
}

.file_upload_cover:hover {
    background: url(/content/images/ico/addcoverafter.png) no-repeat 50% 50%;
    border-radius: 5px;
}

.file_upload_book {
    background-color: white;
    margin-bottom: 15px;
    background: url(/content/images/ico/btnUploadBook.png) no-repeat 50% 50%;
    width: 100%;
    height: 50px;
}

.file_upload_book:hover {
    background: url(/content/images/ico/btnUploadBookAfter.png) no-repeat 50% 50%;
    border-radius: 5px;
}

.file_publication {
    background-color: white;
    background: url(/content/images/ico/btnPublishBook.png) no-repeat 50% 50%;
    width: 100%;
    height: 50px;
    border: none;
}

.file_publication:hover {
    background: url(/content/images/ico/btnPublishBookAfter.png) no-repeat 50% 50%;
    border-radius: 5px;
}

input[type='file'] {
    width:100%;
    height: 100%;
    opacity:0;
}

.myBooks {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    margin-top: 1%;
    float:left;
}

.bookSection {
    width: 98%;
    border-radius: 5px;
    margin: 1%;
    float:left;
}

.singleBook {
    background-color: #fff;
    width: 19%;
    border-radius: 5px;
    margin-bottom: 1%;
    margin-right: 1%;
    float:left;
}

.singleBook:hover {
    box-shadow: 0 0 10px rgba(172, 172, 172, 0.3);
    border-radius: 5px;
}

.singleBookWait {
    background-color: #fff;
    width: 95%;
    border-radius: 5px;
    margin-bottom: 5%;
    margin-right: 1%;
    float:left;
}

.singleBookWait:hover {
    box-shadow: 0 0 10px rgba(172, 172, 172, 0.3);
    border-radius: 5px;
}

.singleBookWCover {
    background-color: red;
    width: 30%;
    border-radius: 5px;
    margin-right: 10px;
    float:left;
}

.singleBookWInfo {
    width: 65%;
    height: 100%;
    border-radius: 5px;
    float:left;
}

.singleBookCover {
    background-color: red;
    width: 30%;
    border-radius: 5px;
    margin-right: 10px;
    float:left;
}

.singleBookInfo {
    width: 66%;
    height: 100%;
    border-radius: 5px;
    float:left;
}

.label {
    width: 100%;
    display: block;
    float: left;
}

textarea
{
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 12px;
    outline: none;
    background: none;
    resize:none;
    overflow: auto;
}

.btnDetail {
    background-color: #dfdfdf;
    color: white;
    width: 35%;
    height: 25px;
    font-size: 14px;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
    margin-right: 10px;
}

.btnDetail:hover {
    color: white;
    background-color: #d65600;
    border-radius: 5px;
}

.myBooksTitle {
    background-color: #fff;
    width: 60%;
    border-radius: 5px;
    margin-top: 1%;
    float:left;
}

.waitBooksTitle {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    margin-top: 1%;
    float:left;
}

.waitBooksScroll {
    width: 100%;
    height: 90%;    
    overflow-y: scroll;
    overflow: auto;
}

select[type="myBookSort"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 15%;
    height: 40px;
    font-size: 14pt;
    color: #dadada;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:right;
    margin-right: 15px;
    margin-top: 15px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 40px;
}

h3 {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
}

.well {
    background-color: #faf8ff;
    box-shadow: none;
    border: 0;
}

.divv {
    width: 100%;
    height: 20px;
}

/* ==========================================================================
Подробнее о книге
========================================================================== */

.h7 {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 40px;
}

.h8 {
    margin: 0px;
    font-size: 20px;
}

.h9 {
    margin: 0px;
    font-size: 16px;
}

.bookDetailCover {
    background-color: #fff;
    width: 20%;
    height: 500px;
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    padding: 25px;

}

.bookCover {
    background-color: orange;
    width: 100%;
    height: 85%;
    float: left;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bookDetailName {
    background-color: #fff;
    width: 78%;
    float: right;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 35px;
}

.bookDetailInfo {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-right: 2%;
    margin-bottom: 2%;
    border-radius: 5px;
    padding: 35px;
}

.bookDetailAdmin {
    background-color: #fff;
    width: 23%;
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    padding: 35px;
}

.bookDetailDescription {
    background-color: #fff;
    width: 52%;
    float: right;
    border-radius: 5px;
    padding: 35px;
    margin: 0;
    text-align: justify;
}

/* ==========================================================================
header search area form
========================================================================== */

form {
    display: inline-block;
    vertical-align: auto;
    position: relative;
}
input[type="search"] {
    outline: none;
    border: 2px solid #dededf;
    padding: 5px 20px 5px 60px;
    display: block;
    width: 500px;
    height: 55px;
    font-size: 20pt;
    color: #dadada;
    background: #fff;
    border-radius: 25px;
    -webkit-border-radius: 265px;
    -moz-border-radius: 265px;
    border-radius: 265px;
    background-color: transparent;
}
button[type="search-submit"] {
    position: absolute; left: 20px; top: 7px; right: 10px;
    z-index: 9;
    outline: none;
    border: none;
    display: inline-block;
    background: url(/content/images/ico/searchico.png) no-repeat 50% 50%;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 25px;
    cursor: pointer;
}   
button[type="search-submit"]:hover {
    background-color: transparent;
}
::placeholder { 
    color:#dadada;
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
    color: #444;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Navbar vertical
========================================================================== */

.navmenu {
    width: 100px;
    padding: auto;
    margin: auto;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
    color: #1c0cf5;
}

a:hover, .hand, [jh-sort-by] {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}




/* jhipster-needle-css-add-main JHipster will add new css style */
