@font-face {
    font-family: Oswald;
    src: url(/content/fonts/Oswald-Regular.ttf);
}

body {
    background: #f5f5f5;
    font-family: Oswald, Arial, sans-serif;
    color: #333;
}

#wrapper {
    width: 100%;
    outline: 1px solid #787274;
    padding: 10px;
    margin: 0 auto;
}

#sidebar {
    background-color: #d65600;
    width: 65px;
    min-height:100vh;
    float: left;
    position: fixed;
	top: 0;
    left: 0;
    z-index: 9;
}
#header {
    padding-top: 12px;
    height: 70px;
    width: 100%;
    background: #f5f5f5;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
}

#info {
    /* margin: 55px; */
    margin: 35px;
    height: 100%;
    background: #e2dfeb;
    width: 100%;
}

.icobox-logo {
    margin-top: 5px;
    height: 65px;
    width: 65px;
    background-color: none;
    position:absolute; /* добавили */
	bottom:0;
}

.icobox-logo:hover {
    background:#e49159;
}

.icobox {
    height: 65px;
    width: 65px;
    background-color: none;
}

.icobox:hover {
    background:#e49159;
}

.icobox:hover::after { 
    content: attr(data-title); 
    padding-left: 65px;
    font-size: 12pt;
}

.container {
    padding: 0px;
    width: 100%;
    background-color: #f5f5f5;
}

.row {
    width: 100%;
}

.rowhead {
    padding-left: 120px;
}

.rowcontent {
    padding-left: 50px;
    padding-right: 50px;
}

.aColor {
    text:white;
}

button, 
button:active, 
button:focus {
    outline: none;
}

/* ==========================================================================
Главная страница
========================================================================== */

.homeRow {
    padding-left: 0;
    padding-right:0;
}

.homeCol {
    padding-left: 5px; 
    padding-right:5px;
}

.homeColR {
    padding-left: 0; 
    padding-right: 1%;
}

.homeColL {
    padding-left: 1%; 
    padding-right: 0;
}

.goToLibrary {
    margin-left: 7px;
    width: 99%;
    height: 201px;
    border-radius: 5px;
    background-image: url(/content/images/ico/goToLibraryNoHover.jpg);
    margin-bottom: 30px;
    background-size: cover;
}

.goToLibrary:hover {
    background-image: url(/content/images/ico/goToLibraryHover.jpg);
}

.homeRecommendedBooks {
    margin-top: 2%;
    margin-bottom: 3%;
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.homeRBook {
    width: 100%;
    border-radius: 5px;
    border-style: solid;
    border-color: #fdd4b8;
    white-space: normal;
    padding: 10px;
    float: left;
}

.homeRBook:hover {
    background-color: #fdd4b8;
}

.homeRBookSingle {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    float: left;
}

.homeABookSingle {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    float: left;
    background-color: rgb(253, 253, 253);
}

.homeRBookCover {
    width: 30%;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.homeABookCover {
    width: 30%;
    border-radius: 5px;
    background-position: center center;
    background-repeat: no-repeat;
    float: left;
}

.homeRBookInfo {
    width: 70%;
    height: 100%;
    float: left;
    padding-left: 5%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;    
}

.homeABookInfo {
    width: 70%;
    height: 100%;
    float: left;
    padding: 1% 5% 5% 5%;
}

.homeRBookReaded {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    background-color: #fd7b7d;
    float: right;
    text-align: center;
    color: #fff;
    font-size: 10pt;
}

.homeRBookReadedH {
    height: 20px;
}

.homeRBookTitle {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 14pt;
    font-weight: bold;
    float: left;
    margin-top: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeRBookAuthor {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 10pt;
    float: left;
    margin-top: 1%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.homeRBookBtns {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    float: right;
    padding-top: 45px;
}

.homeABookBtns {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    float: right;
    padding-top: 20px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.topTenUsers {
    width: 95%;
    height: 100%;
    background-image: url(/content/images/ico/topTenNoHover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
    padding: 33px;
    margin-left: 5%;
}

.topTenUsers:hover {
    border-radius: 5px;
    background-image: url(/content/images/ico/topTen.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

.topTenTitle {
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    margin-bottom: 15px;
}

.topUsers {
    width: 100%;
    height: 100%;
    font-size: 100%;
    border-radius: 5px;
}

.topUser {
    width: 100%;
    height: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.486);
}

.newArrival {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-top: 15px;
    background-color: #fff;
}

.homeNewArrivalBook {
    width: 100%;
    height: 100%;
    margin-left: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    float: left;
}

.homeNewArrivalBook:hover {
    box-shadow: 0 0 10px rgba(172, 172, 172, 0.3);
    border-radius: 5px;
}

/* ==========================================================================
Предложить книгу
========================================================================== */

.addBook {
    width: 100%;
    height: 100%;
}

.addBookCover {
    padding: 20px;
    width: 100%;
    height: 495px;
    border-radius: 5px;
    /* border: 2px solid rgb(209, 209, 209); */
    background-color: #fff;
    text-align: center;
}
.addBookView {
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 5px;
    /* border: 2px solid rgb(209, 209, 209); */
    background-color: #fff;
}

.addBookWait {
    background-color: #fff;
    width: 17%;
    height: 100%;
    margin-left: 1%;
    padding: 15px;
    border-radius: 5px;
}

.addWaitBook {
    width: 100%;
    height: 495px;
    border-radius: 5px;
    padding-left: 3%;
    /* border: 2px solid rgb(209, 209, 209); */
    background-color: #fff;
}

input::placeholder {
    color: #818181;
}

input[type="addBookName"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 100%;
    height: 55px;
    font-size: 100%;
    color: #818181;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    margin-bottom: 15px;
    padding-left: 15px;
}

textarea[name="addBookDescription"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 100%;
    height: 326px;
    font-size: 100%;
    color: #818181;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    padding-left: 15px;
    padding-top: 10px;
}

textarea::placeholder {
    color: #818181;
}

input[type="addBookAuthorName"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 19%;
    height: 55px;
    font-size: 100%;
    color: #818181;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    margin-right: 16px;
    margin-bottom: 15px;
    padding-left: 15px;
}

input[type="addBookAuthorSurname"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 19%;
    height: 55px;
    font-size: 100%;
    color: #818181;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    margin-right: 16px;
    margin-bottom: 15px;
    padding-left: 15px;
}

select[type="addBookGenre"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 25%;
    height: 55px;
    font-size: 100%;
    color: #818181;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    padding-left: 10px;
}

input[type="addBookOther"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 10%;
    height: 55px;
    font-size: 100%;
    color: #818181;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:left;
    margin-left: 15px;
    padding-left: 15px;
}

.file_upload_cover {
    width: 100%;
    height: 320px;
    margin-bottom: 15px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
}

.file_upload_book {
    background-color: white;
    margin-bottom: 15px;
    background: url(/content/images/ico/btnUploadBook.png) no-repeat 50% 50%;
    width: 100%;
    height: 50px;
    border-radius: 5px;
}

.file_upload_book:hover {
    background: url(/content/images/ico/btnUploadBookAfter.png) no-repeat 50% 50%;
}

.file_publication {
    background-color: #d65600;
    color: white;
    width: 68%;
    height: 50px;
    font-size: 100%;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    margin-bottom: 4%;
}
.file_publication:hover {
    color: white;
    background-color: #b84a01;
}

input[type='file'] {
    width:100%;
    height: 100%;
    opacity:0;
}

.myBooks {
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    margin-top: 1%;
    float:left;
}

.bookSection {
    overflow: auto;
    width: 98%;
    border-radius: 5px;
    margin: 1%;
    float:left;
}

.singleBook {
    background-color: rgb(253, 253, 253);
    width: 19%;
    border-radius: 5px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 1%;
    float:left;

}

.singleBook:hover {
    box-shadow: 0 0 10px rgba(172, 172, 172, 0.3);
    border-radius: 5px;
}

.singleBookWait {
    background-color: rgb(253, 253, 253);
    width: 95%;
    border-radius: 5px;
    margin-top: 3%;
    float:left;
    padding: 2%;
    margin-left: 3px;
    margin-right: 3px;
}

.singleBookWait:hover {
    box-shadow: 0 0 10px rgba(172, 172, 172, 0.3);
    border-radius: 5px;
}

.singleBookWCover {
    width: 30%;
    border-radius: 5px;
    margin-right: 10px;
    float:left;
}

.singleBookWInfo {
    width: 55%;
    height: 100%;
    border-radius: 5px;
    float:left;
    word-break:break-all;
    font-size: 100%;
}

.singleBookCover {
    width: 33%;
    border-radius: 5px;
    margin-right: 5px;
    float:left;
}

.singleBookInfo {
    width: 63%;
    height: 100%;
    border-radius: 5px;
    float:left;
    padding: 5px 0px 5px 5px;
}

.label {
    width: 100%;
    display: block;
    float: left;
}

/* textarea
{
    width: 100%;
    height: 30px;
    border: 0;
    font-size: 12px;
    outline: none;
    background: none;
    resize:none;
    overflow: auto;
} */

.btnDetail {
    background-color: #c0c0c0;
    color: white;
    width: 60%;
    height: 32px;
    font-size: 100%;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
}

.btnDetail:hover {
    color: white;
    background-color: #d65600;
    border-radius: 5px;
}

.myBooksTitle {
    width: 60%;
    border-radius: 5px;
    margin-top: 1%;
    float:left;
}

.waitBooksTitle {
    width: 100%;
    border-radius: 5px;
    margin-top: 2%;
    text-align: center;
    float:left;
    font-size: 100%;
}

.waitBooksScroll {
    width: 100%;
    height: 90%;    
    overflow-y: scroll;
    overflow: auto;
    padding-top: 1%;
    padding-bottom: 1%;
}

select[type="myBookSort"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 15%;
    height: 40px;
    font-size: 14pt;
    color: #afafaf;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    float:right;
    margin-right: 15px;
    margin-top: 15px;
}

h2 {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 40px;
}

h3 {
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 20px;
}

.well {
    box-shadow: none;
    border: 0;
}

.divv {
    width: 100%;
}

/* ==========================================================================
Подробнее о книге
========================================================================== */

.bookDetailNameText {
    margin: 0px;
    margin-bottom: 10px;
    font-size: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookDetailInfoText {
    margin: 0px;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookDetailTextBreakAll {
    margin: 0px;
    font-size: 14px;
    word-break:break-all;    
}

.bookDetailDescriptionText {
    margin: 0px;
    font-size: 16px;
    word-break:break-all;
}

.bookDetailCover {
    background-color: #fff;
    width: 22%;
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    padding: 25px;
}

.bookCover {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 5px;
    margin-bottom: 15px;
}

.bookDetailName {
    background-color: #fff;
    width: 75%;
    float: right;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 35px;
}

.bookDetailName2 {
    width: 75%;
    float: right;
    border-radius: 5px;
    margin-bottom: 2%;
}


.bookDetailInfo {
    background-color: #fff;
    width: 26%;
    float: left;
    margin-right: 2%;
    border-radius: 5px;
    padding: 35px;
}

.bookDetailAdmin {
    background-color: #fff;
    width: 26%;
    float: left;
    margin-top: 3%;
    margin-right: 2%;
    border-radius: 5px;
    padding: 35px;
}

.bookDetailDescription {
    background-color: #fff;
    width: 71%;
    float: right;
    border-radius: 5px;
    padding: 35px;
    margin: 0;
    text-align: justify;
}

/* ==========================================================================
библиотека
========================================================================== */

.libraryGenreTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    padding-left: 15px;
}

.libraryGenre {
    outline: none;
    width: 88%;
    float: left;
    padding: 5px 5px 15px 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 15px;
    border-bottom: 1px solid rgb(223, 223, 223);
    word-break: break-all;
    color: #d65600;
    font-size: 100%;
}

.libraryGenreList {
    width: 18%;
    float: right;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    padding-bottom: 5px;
}

.libraryRecommendation {
    width: 81%;
    float: left;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    margin-bottom: 1%;
    padding-top: 10px;
}

.recommendationBooks {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding-left: 1%;
    padding-bottom: 1%; 

    overflow: hidden;
    overflow-x: scroll;
    white-space:nowrap;
}

.rBook {
    display: inline-block;
    vertical-align: top;
    width: 27%;
    height:100%;
    padding: 10px;
    margin-right: 1%;
    border-radius: 5px;
    border-style: solid;
    border-color: #fdd4b8;
    white-space: normal;
}

.rBook:hover {
    background-color: #fdd4b8;
}

.libraryBooks {
    width: 81%;
    float: left;
    background-color: rgb(254, 254, 254);
    border-radius: 5px;
    padding-top: 10px;
}

.myLibBooksTitle {
    width: 100%;
    border-radius: 5px;
    float:left;
}

.myLibBooksTitle2 {
    width: 100%;
    border-radius: 5px;
    float:left;
    padding-bottom: 1%;
}

select[type="myBookLibSort"] {
    outline: none;
    border: 1px solid #dededf;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14pt;
    color: #b3b3b3;
    background: #fff;
    border-radius: 5px;
    background-color: transparent;
    margin-right: 10px;
    float:right;
}

.libraryAllBooks {
    width: 98%;
    height: 100%;
    overflow: auto;
    border-radius: 5px;
}

.libBook {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    height:100%;
    margin-left: 1%;
    border-radius: 5px;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgb(253, 253, 253);
}

.libBook:hover {
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.1);
    margin-bottom: 5%;
}

.libBookCover {
    width: 35%;
    height: 25%;
    float: left;
    border-radius: 5px
}

.libRecommendBookCover {
    width: 40%;
    height: 150px;
    float: left;
    border-radius: 5px
}

.libBookInfo {
    width: 65%;
    height: 100%;
    float: left;
    border-radius: 5px;
    padding: 0 10px 0 10px; 
}

.libBookInfo1 {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 5px;
    margin-bottom: 2%;
}

.libRecommendBookInfo {
    width: 60%;
    height: 100%;
    float: right;
    border-radius: 5px;
}

.bookReaded {
    border-radius: 5px;
    background-color: #fd7b7d;
    width: 70%;
    text-align: center;
    float: right;
    margin-bottom: 3%;
    color: #fff;
}

.bookReaded2 {
    border-radius: 5px;
    background-color: #fd7b7d;
    width: 60%;
    height: 20px;
    text-align: center;
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #fff;
    font-size: 90%;
}

.bookReadedH {
    height: 27px;
    color: white;
}

.bookTitle {
    border-radius: 5px;
    float: left;
    margin-bottom: 2%;
    color: #000;
    font-size: 100%;
    font-weight: bold;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookAuthor {
    border-radius: 5px;
    float: left;
    margin-bottom: 2%;
    color: #525252;
    font-size: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.bookButtons {
    border-radius: 5px;
    float: right;
    width: 100%;
    margin-top: 8px;
}

.bookRButtons {
    border-radius: 5px;
    float: right;
    width: 100%;
    margin-top: 5px;
    padding-top: 45px;
}


.btnLibReadBook {
    background-color: #dfdfdf;
    color: white;
    width: 70%;
    height: 35px;
    font-size: 14px;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
}

.btnLibReadBook:hover {
    color: white;
    background-color: #d65600;
}

.btnLibReadBook2 {
    outline: none;
    background-color: #c9c9c9;
    color: white;
    width: 60%;
    height: 35px;
    font-size: 100%;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
}
.btnLibReadBook2:hover {
    color: white;
    background-color: #d65600;
}

.btnLibFavoriteBook {
    background: url(/content/images/ico/favoriteBookNoHover.png) no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border: 0;
    margin-top: 5px;
    float: right;
    margin-right: 5px;
}

.btnLibFavoriteBookChecked {
    background: url(/content/images/ico/favoriteBookHover.png) no-repeat 50% 50%;
    width: 25px;
    height: 25px;
    border: 0;
    margin-top: 5px;
    float: right;
    margin-right: 5px;
}

.btnLibFavoriteBook:hover {
    background: url(/content/images/ico/favoriteBookHover.png) no-repeat 50% 50%;
}

.btnLibDeleteBook {
    border: 0;
    border-radius: 5px;
    background: url(/content/images/ico/deleteBookNoHover.png) no-repeat 50% 50%;
    float: right;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.btnLibDeleteBook:hover {
    background: url(/content/images/ico/deleteBookHover.png) no-repeat 50% 50%;
}

/* ==========================================================================
Админ - управление пользователями
========================================================================== */

.form-control {
    width: 100%;
    margin-bottom: 1%;
}

.userSearchList {
    width: 60%;
}

.userManagementList {
    width: 60%;
    height: 100%;
    float: left;
    border-radius: 5px;
    margin-right: 2%;
    padding: 2%;
    background-color: #fff;
    overflow-y: auto;
}

.AllBookCounter {
    width: 17%;
    height: 100%;
    float: left;
    border-radius: 5px;
    margin-right: 2%;
    padding: 3%;
    background-color: #fff;
}

.AllUserCounter {
    width: 17%;
    height: 100%;
    float: left;
    border-radius: 5px;
    margin-right: 2%;
    padding: 3%;
    background-color: #fff;
}

.userManagementViewUser {
    width: 100%;
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    float: left;
    margin-bottom: 2%;
    padding: 2%;
}

.userManagementViewUser:hover {
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.1);
}

.userManagementPhoto {
    width: 50px;
    height: 50px;
    float: left;
}

.userManagementAvatar {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    background-image: url(/content/images/ico/userManagement.png);
}

.userManagementName {
    width: 30%;
    border-radius: 5px;
    float: left;
    font-weight: bold;
    font-size: 100%;
    padding-left: 1%;
    margin-left: 1%;
}

.userManagementEmail {
    width: 30%;
    border-radius: 5px;
    float: left;
    font-size: 115%;
    padding-left: 1%;
    margin-left: 1%;
}

.userManagementLogin {
    width: 30%;
    border-radius: 5px;
    float: left;
    font-size: 115%;
    padding-left: 1%;
    margin-left: 1%;
}
.userManagementBtns {
    width: 27%;
    border-radius: 5px;
    float: right;
}

.counterNum {
    font-size: 24pt;
    font-weight: bold;
    text-align: center;
}

.counterName {
    font-size: 11pt;
    text-align: center;
    word-break: break-all;
}

IMG.AllImgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}

.btnUserEdit {
    border: 0;
    border-radius: 5px;
    background: url(/content/images/ico/userEditNoHover.png) no-repeat 50% 50%;
    float: right;
    margin-right: 1px;
    height: 30px;
    width: 30px;
}

.btnUserEdit:hover {
    background: url(/content/images/ico/userEditHover.png) no-repeat 50% 50%;
}

.btnUserDelete {
    border: 0;
    border-radius: 5px;
    background: url(/content/images/ico/userDeleteNoHover.png) no-repeat 50% 50%;
    float: right;
    margin-right: 1px;
    height: 30px;
    width: 30px;
}

.btnUserDelete:hover {
    background: url(/content/images/ico/userDeleteHover.png) no-repeat 50% 50%;
}

.btnUserUnTrust {
    border: 0;
    border-radius: 5px;
    background: url(/content/images/ico/userTrustNoHover.png) no-repeat 50% 50%;
    float: right;
    margin-right: 1px;
    height: 30px;
    width: 30px;
}

.btnUserTrust {
    border: 0;
    border-radius: 5px;
    background: url(/content/images/ico/userTrustHover.png) no-repeat 50% 50%;
    float: right;
    margin-right: 1px;
    height: 30px;
    width: 30px;
}

.btnUserTrust:hover {
    background: url(/content/images/ico/userTrustHover.png) no-repeat 50% 50%;
}

.btnUserBlocked {
    border: 0;
    border-radius: 5px;
    background: url(/content/images/ico/userBlockedHover.png) no-repeat 50% 50%;
    float: right;
    margin-right: 1px;
    height: 30px;
    width: 30px;
}
.btnUserUnBlocked {
    border: 0;
    border-radius: 5px;
    background: url(/content/images/ico/userBlockedNoHover.png) no-repeat 50% 50%;
    float: right;
    margin-right: 1px;
    height: 30px;
    width: 30px;
}

.btnUserBlocked:hover {
    background: url(/content/images/ico/userBlockedHover.png) no-repeat 50% 50%;
}


/* ==========================================================================
Админ - Уведомления
========================================================================== */

.libraryNotification {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 2%;
    float: left;
}

.singleNotification {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin-bottom: 1%;
    float: left;
}

.singleNotification:hover {
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.1);
}

.nBookCover {
    width: 125px;
    height: 175px;
    float: left;
    border-radius: 5px;
    margin-right: 1%
}

.nBookInfo {
    width: 20%;
    height: 100%;
    float: left;
    border-radius: 5px;
    margin-right: 1%;
    word-break:break-all;
    padding-right: 1%;
}

.nBookDescription {
    width: 50%;
    float: left;
    border-radius: 5px;
    padding-left: 1%;
    padding-right: 1%;
    margin-right: 1%;
    font-size: 100%;
    word-break: break-all;
}

.nButtons {
    width: 14%;
    float: right;
    border-radius: 5px;
}

.nBookInfoTitle {
    border-radius: 5px;
    float: left;
    margin-bottom: 2%;
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    width: 100%;
    height: 100%;
    word-break:break-all;
}

.nBookBText {
    width: 100%;
    float: left;
}

.nBookBText1 {
    width: 45%;
    font-size: 115%;
    font-weight: bold;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nBookBText2 {
    width: 55%;
    font-size: 115%;
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nBtnRead {
    background-color: #d65600;
    color: white;
    width: 80%;
    height: 45px;
    font-size: 14px;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
    margin-bottom: 10%;
}
.nBtnRead:hover {
    color: white;
    background-color: #b84a01;
}

.nBtnPublish {
    background-color: #00d435;
    color: white;
    width: 80%;
    height: 45px;
    font-size: 14px;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
    margin-bottom: 1%;
}
.nBtnPublish:hover {
    color: white;
    background-color: rgb(3, 97, 0);
}

.nBtnCancel {
    background-color: #f51d1d;
    color: white;
    width: 80%;
    height: 45px;
    font-size: 14px;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
}
.nBtnCancel:hover {
    color: white;
    background-color: #941212;
}

/* ==========================================================================
Избранные книги
========================================================================== */

.favoriteBooks {
    width: 100%;
    height: 100%;
    background-color: rgb(254, 254, 254);
    float: left;
    border-radius: 5px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.favoriteBook {
    width: 100%;
    height: 100%;
    float: left;
    margin-bottom: 30px;
    border-radius: 5px;
    background-color: rgb(253, 253, 253);
}

.favoriteSingleBook {
    width: 100%;
    height: 100%;
    float: left;
    border-radius: 5px;
    padding-bottom: 10px;
}

.favoriteSingleBook:hover {
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.1);
}

.fBookCover {
    width: 100%;
    height: 10%;
    float: left;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 10px;
    border-radius: 5px;
}

.fBookTitle {
    width: 80%;
    height: 20%;
    border-bottom: 1px solid rgb(233, 233, 233);
    text-align: center;
    font-size: 12pt;
    font-weight: bold;
    padding-bottom: 10px;
    margin-bottom: 10px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fBookBtnsOuter {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
} 

.btnFavoriteBookRead {
    background-color: #d65600;
    color: white;
    width: 55%;
    height: 35px;
    font-size: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.btnFavoriteBookRead:hover {
    color: white;
    background-color: #943b00;
}

.btnFavoriteBookDelete {
    background-color: #f51d1d;
    color: white;
    width: 20%;
    height: 35px;
    font-size: 100%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.btnFavoriteBookDelete:hover {
    color: white;
    background-color: #bb0101;
}

/* ==========================================================================
Детали - Профиль
========================================================================== */

.profileDetail {
    width: 100%;
    height: 100%;
    float: left;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
}

.homePBookBtns {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    float: right;
    padding-top: 45px;
    padding-right: 15px;
    padding-bottom: 5px;
}

.profileDetailAllInfo {
    width: 100%;
    height: 100%;
    float: left;
}

.profileDetailPhoto {
    width: 100%;
    height: 100%;
    float: left;
}

.profileDetailInfo {
    width: 100%;
    height: 100%;
    float: left;
}

.profileInfo {
    width: 100%;
    height: 100%;
}

.profileLogin {
    font-size: 18pt;
    padding: 5px;
    font-weight: bold;
}

.profileName {
    font-size: 14pt;
    padding: 5px;
}

.profileEmail {
    font-size: 14pt;
    padding: 5px;
}

.profileBtn {
    padding-top: 30px;
}

/* 
ПРОФИЛЬ - Мои книги / читаю
*/

 .myBooksAndReaded {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
    margin-top: 30px;
    float: left;
}

section {
    display: none;
    padding: 20px 0 0;
}

input {
    display: none;
}

label {
    width: 49%;
    display: inline-block;
    margin: 0 0 -1px;
    padding: 20px;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    color: #abc;
    border: 1px solid transparent;
}

label:before {
    margin-right: 10px;
}

label:hover {
    color: #789;
    cursor: pointer;
}

input:checked + label {
    color: #d65600;;
    border-bottom: 2px solid #d65600;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2 {
    display: block;
    overflow-y: auto;
}

.btnProfileBookDetail {
    background-color: #c0c0c0;
    color: white;
    width: 70%;
    height: 35px;
    font-size: 14px;
    border: none;
    vertical-align: bottom;
    border-radius: 5px;
    float: right;
}

.btnProfileBookDetail:hover {
    color: white;
    background-color: #d65600;
}

.profileDetailMyBook {
    width: 100%;
    height: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    float: left;
}

.profileDetailMyBook:hover {
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.1);
}

.user-settings {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
}

.user-password {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
}

/* ==========================================================================
header search area form
========================================================================== */

form {
    width: 100%;
    display: inline-block;
    vertical-align: auto;
    position: relative;
}
input[type="search"] {
    outline: none;
    border: 2px solid #dededf;
    padding: 5px 20px 5px 60px;
    display: block;
    width: 400px;
    height: 45px;
    font-size: 100%;
    color: #7c7c7c;
    background: #fff;
    border-radius: 25px;
    -webkit-border-radius: 265px;
    -moz-border-radius: 265px;
    border-radius: 265px;
    background-color: transparent;
}
button[type="search-submit"] {
    position: absolute; left: 20px; top: 5px; right: 10px;
    z-index: 9;
    outline: none;
    border: none;
    display: inline-block;
    background: url(/content/images/ico/searchico.png) no-repeat 50% 50%;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 10px;
    border-radius: 25px;
    cursor: pointer;
    padding-block-start: 25px; 
    writing-mode: horizontal-tb;
}   
button[type="search-submit"]:hover {
    background-color: transparent;
}
::placeholder { 
    color:#dadada;
}

@-moz-document url-prefix(){
    button[type="search-submit"] { padding: 20px 28px 40px 4px !important;} 
} 


/* ==========================================================================
Окна аккаунт
========================================================================== */

.genreView {
    border-radius: 5px;
    background-color: #fff;
    padding: 1%;
    float: left;
    padding: 15px;
}

.genre-all {
    width: 100%;
    background-color: #fff;
    float: left;
    padding: 15px;
    border-radius: 5px;
}

.genre-list {
    width: 100%;
    float: left;
    padding-bottom: 5px;
}

.genre-single {
    width: 100%;
    font-size: 150%;
    border-radius: 5px;
    padding: 15px;
    float: left;
}

.genre-single:hover {
    box-shadow: 0 0 2px 2px rgb(0, 0, 0, 0.2);
}

.genre-add {
    margin-bottom: 15px;
}

.genre-btns {
    width: 100%;
}

.genre-name {
    width:100%;
    float: left;
}

.registration-form {
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
}

.registration-banner {
    width: 530px;
    height: 545px;
    background-color: #fff;
    border-radius: 5px;
    background-image: url(/content/images/ico/registrationNoHover.jpg);
    margin-top: 68px;
    background-size: cover;
}

.registration-banner:hover {
    background-image: url(/content/images/ico/registrationHover.jpg);
}

.authorization-logo {
    width: 100%;
    height: 100%;
}

.help-contact-us {
    background-color: #fff;
    border-radius: 5px;
    padding: 30px;
}

.help-about-us {
    /* height: 417px; */
    width: 350px;
    height: 450px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    margin-top: 59px;
    padding: 50px;
}

.help-about-us-logo {
    width: 250px;
    height: 250px;
    background-image: url(/content/images/ico/aboutUsNoHover.png);
    background-size: cover;
}

.help-about-us-logo:hover {
    background-image: url(/content/images/ico/aboutUsHover.png);
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

/* ==========================================================================
navbar text
========================================================================== */
.navbar-default .navbar-brand {
    color: #444;
}

.navbar-collapse {
    padding-right: 0px;
    padding-left: 0px;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Navbar vertical
========================================================================== */

.navmenu {
    width: 100px;
    padding: auto;
    margin: auto;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break:break-all;
}

.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a {
    color: #1c0cf5;
}

a:hover, .hand, [jh-sort-by] {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display:inline;
    list-style:none;
    margin:0;
    margin-left:15px;
    padding:0;
    vertical-align:2px;
}

.point:last {
    margin:0 !important;
}
.point {
    background:#DDD;
    border-radius:2px;
    display:inline-block;
    height:5px;
    margin-right:1px;
    width:20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert{
    text-overflow: ellipsis;
}
.alert pre{
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left { padding-left: 0 !important; }
.no-padding-right { padding-right: 0 !important; }
.no-padding-top { padding-top: 0 !important; }
.no-padding-bottom { padding-bottom: 0 !important; }
.no-padding { padding: 0 !important; }

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min { width: 1% !important; }

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-justify-content: flex-end;
   justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.dl-horizontal.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .dl-horizontal.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .dl-horizontal.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup  > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup  > li > div.uib-datepicker > table:focus {
    outline: none;
}




/* jhipster-needle-css-add-main JHipster will add new css style */

/* Юлий */
.background-img{

    background:url('/content/images/logo-jhipster.png');
    background-repeat: no-repeat;
    width:100%;
    height:100%; 
    background-position: bottom right; 
    position:absolute;
    right:0px;
    bottom: 0px 
}