<style>




</style>

<div class="container">
    <h2>Профиль</h2>
    
    <div class="row">
        <div class="col-md-7">
            <!-- Детали профиля -->
            <div class="profileDetail">
                <div class="profileDetailAllInfo">
                    <div class="col-md-4">
                        <!-- Фото профиля -->
                        <div>
                            <img class="img-circle" src="\content\images\ico\defaultProfilePhoto.png" width="75%" height="75%" >
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- Инфа о профиле -->
                        <div class="profileInfo">
                            <!-- Логин -->
                            <div class="profileLogin">{{vm.profile.userLogin}}</div>   
                            <!-- Имя Фамилия -->
                            <div class="profileName">{{vm.profile.userFirstName}} {{vm.profile.userLastName}}</div>   
                            <!-- Email -->
                            <div class="profileEmail">{{vm.profile.userEmail}}</div>   
                            <!-- Кнопки -->
                            <div class="profileBtn" >
                                <button has-authority="ROLE_ADMIN" type="button" ui-sref="profile-detail.edit({id:vm.profile.id})" class="btn btn-success" style="float:right">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-sm-down">Изменить</span>
                                </button>

                                <button type="submit" ui-sref="{{ vm.previousState }}" class="btn btn-info" style="float:right">
                                    <span class="glyphicon glyphicon-arrow-left"></span> <span>Назад</span>
                                </button>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5"></div>
        </div>

            <div class="col-md-10">
            <!-- Мои книги / читаю -->

            <div class="myBooksAndReaded">
                    <!-- Переключатель Мои книги -->
                    <input id="tab1" type="radio" name="tabs" checked>
                    <label for="tab1"><span class="glyphicon glyphicon-book"></span> Мои книги</label>
                    
                    <!-- Переключатель Читаю -->
                    <input id="tab2" type="radio" name="tabs">
                    <label for="tab2"><span class="glyphicon glyphicon-list-alt"></span> Читаю</label>
                  
                    <!-- Мои книги -->
                    <section id="content1">
                        <div class="col-md-4" ng-repeat="book in vm.books">
                            
                            <!-- Книга 1 -->
                            <div class="profileDetailMyBook" >
                                <div class="homeRBookSingle">
                                    <!-- Обложка -->
                                    <div class="homeABookCover" ><img ng-src="{{book.coverPath}}" width="100%"></div>
                                    <!-- Инфа о книге -->
                                    <div class="homeABookInfo">
                                        <div class="homeRBookTitle">{{book.title}}</div>
                                        <div class="homeRBookAuthor">{{book.authorFirstName}} {{book.authorLastName}}</div>
                                    </div>
                                    <!-- Кнопки -->
                                    <div class="homeABookBtns">
                                        <a ui-sref="book-detail({id:book.id})"><button class="btnProfileBookDetail">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>   

                        </div>
                    </section>
                  
                    <!-- Читаю -->
                    <section id="content2">
                        <div class="col-md-4" ng-repeat="book in vm.readBooks">
                        
                            <!-- Книга 1 -->
                            <div class="profileDetailMyBook" >
                                <div class="homeRBookSingle">
                                    <!-- Обложка -->
                                    <div class="homeABookCover"><img ng-src="{{book.bookCoverPath}}" width="100%"></div>
                                    <!-- Инфа о книге -->
                                    <div class="homeABookInfo">
                                        <div class="homeRBookTitle">{{book.bookTitle}}</div>
                                        <div class="homeRBookAuthor">{{book.bookAuthorFirstName}} {{book.bookAuthorLastName}}</div>
                                    </div>
                                    <!-- Кнопки -->
                                    <div class="homeABookBtns">
                                        <a ui-sref="book-detail({id:book.bookId})"><button class="btnProfileBookDetail">Подробнее</button></a>
                                    </div>
                                </div>
                            </div>   

                        </div>
                    </section>
                </div>


        </div>

        <div class="col-md-5"></div>
    </div>
</div>



<!-- <div>
    <h2><span data-translate="eLibraryApp.profile.detail.title">Profile</span> {{vm.profile.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="dl-horizontal jh-entity-details">
        <dt><span data-translate="eLibraryApp.profile.trusted">Trusted</span></dt>
        <dd>
            <span>{{vm.profile.trusted}}</span>
        </dd>
        <dt><span data-translate="eLibraryApp.profile.banned">Banned</span></dt>
        <dd>
            <span>{{vm.profile.banned}}</span>
        </dd>
        <dt><span data-translate="eLibraryApp.profile.user">User</span></dt>
        <dd>
            {{vm.profile.userId}}
        </dd>
    </dl>

    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>

    <button type="button" ui-sref="profile-detail.edit({id:vm.profile.id})" class="btn btn-primary">
        <span class="glyphicon glyphicon-pencil"></span>
        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
    </button>
</div> -->
