<form name="editForm" role="form" has-authority="ROLE_ADMIN" >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title"><b>Права пользователя</b></h4>
    </div>

    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="col-md-12 form-group" has-authority="ROLE_ADMIN">
            <h4 class="col-md-10 control-label" for="reason"><b>Доверенный пользователь</b> (позволяет загружать книги без проверки администратором)</h4>
            <button class="control-label" 
                    ng-class="{false:'btnUserUnTrust', true:'btnUserTrust' } [isTrusted()]"  
                    name="banned" ng-click="vm.trusted()" name="trusted" id="field_trusted"></button>
        </div>
        <div class="col-md-12 form-group" has-authority="ROLE_ADMIN">
            <h4 class="col-md-10 control-label" for="reason"><b>Заблокированный пользователь</b> (запрещает предлагать книги)</h4>
            <button ng-class="{false:'btnUserUnBlocked', true:'btnUserBlocked' } [isBanned()]"  
                    name="banned" id="field_banned" 
                    ng-click="vm.banned()"></button>       
        </div>
    </div>

    <div class="col-md-12 modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;
            <span data-translate="entity.action.save">Сохранить</span>
        </button>
    </div>
</form>

