
<form name="editForm" role="form" has-authority="ROLE_ADMIN" >

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>

    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <!--<div class="form-group" ng-show="vm.profile.id">-->
            <!--<label for="id" data-translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                    <!--ng-model="vm.profile.id" readonly />-->
        <!--</div>-->
        <div class="form-group">
            <label class="control-label" data-translate="eLibraryApp.profile.trusted" for="field_trusted">Trusted</label>
                <button ng-class="{false:'btnUserUnTrust', true:'btnUserTrust' } [isTrusted()]"  name="banned" ng-click="vm.trusted()" name="trusted" id="field_trusted"></button>
                <!-- <input type="checkbox" name="trusted" id="field_trusted" ng-model="vm.profile.trusted"/> -->
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="eLibraryApp.profile.banned" for="field_banned">Banned</label>
                <button  ng-class="{false:'btnUserUnBlocked', true:'btnUserBlocked' } [isBanned()]"  name="banned" id="field_banned" ng-click="vm.banned()"></button>       
                <!-- <input type="checkbox" name="banned" id="field_banned" ng-model="vm.profile.banned"/> -->
        </div>



        <!--<div class="form-group">-->
            <!--<label data-translate="eLibraryApp.profile.user" for="field_user">User</label>-->
            <!--<select class="form-control" id="field_user" name="user" ng-model="vm.profile.userId" ng-options="user.id as user.id for user in vm.users"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary" ng-click="vm.save()">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save" >Save</span>
        </button>
    </div>
</form>
