<div class="container" >
    <h2>
        Пользователи
        <!-- <button class="btn btn-primary" ui-sref="profile.new" >
            <span data-translate="userManagement.home.createLabel">Create a new User</span>
        </button> -->
    </h2>
    <jhi-alert></jhi-alert>
    <input class="form-control" ng-keyup="vm.keyPress($event)" ng-model="vm.searchText" placeholder="Введите логин или email">
    <div>
        <div class="userManagementList">
            <div class="userManagementViewUser" ng-repeat="profile in vm.profiles track by profile.id">
                <div class="userManagementPhoto"><div class="userManagementAvatar"></div></div>

                <div class="userManagementLogin">
                    <p>Логин</p>
                    <a ui-sref="profile-detail({id:profile.id})"> {{profile.userLogin}}</a>
                </div>
                <div class="userManagementBtns">
                    <button type="submit" ui-sref="profile-detail({id:profile.id})" class="btn btn-info btn-sm" style="float:right">
                            <span class="glyphicon glyphicon-eye-open"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                        </button>
                    <a has-authority="ROLE_ADMIN"  ><button class="btnUserEdit" ui-sref="profile.edit({id:profile.id})"></button></a>
                </div>
                <div class="userManagementEmail">
                    <p>Email</p>
                    <span>{{profile.userEmail}}</span>
                </div>
            </div>
        </div>
        
        <div class="AllBookCounter">
            <img class="AllImgCenter" src="/content/images/ico/AllBookCounter.png" width="70%">
            <div class="counterNum">{{vm.books.length}}</div>
            <div class="counterName">Книг</div>
        </div>

        <div class="AllUserCounter">
            <img class="AllImgCenter" src="/content/images/ico/AllUserCounter.png" width="70%">
            <div class="counterNum">{{vm.profiles.length}}</div>
            <div class="counterName">Пользователей</div>
        </div>
    </div>
    
</div>



<!-- <div>
    <h2 data-translate="eLibraryApp.profile.home.title">Profiles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="profile.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="eLibraryApp.profile.home.createLabel">
                        Create new Profile
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr>
                    <th><span data-translate="global.field.id">ID</span></th>
                    <th><span data-translate="eLibraryApp.profile.trusted">Trusted</span></th>
                    <th><span data-translate="eLibraryApp.profile.banned">Banned</span></th>
                    <th><span data-translate="eLibraryApp.profile.user">User</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="profile in vm.profiles track by profile.id">
                    <td><a ui-sref="profile-detail({id:profile.id})">{{profile.id}}</a></td>
                    <td>{{profile.trusted}}</td>
                    <td>{{profile.banned}}</td>
                    <td>
                        {{profile.userId}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="profile-detail({id:profile.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="profile.edit({id:profile.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                             <button type="submit"
                                    ui-sref="profile.delete({id:profile.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
